## This file merged our three submetrics for the main metric.

In [17]:
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

### Import three submetric files from each group members

In [18]:
# read the arrest csv files
arrest_df = pd.read_csv("arrest_data.csv", sep=',', engine='python')
arrest_df

    Unnamed: 0               neighborhood  incidents_counts
0            0  Central Business District              3324
1            1           South Side Flats              2856
2            2                    Carrick              1963
3            3             East Allegheny              1777
4            4             Homewood South              1747
..         ...                        ...               ...
93          93              Regent Square                28
94          94          Central Northside                23
95          95            Mt. Oliver Boro                18
96          96     Troy Hill-Herrs Island                 6
97          97    Mt. Oliver Neighborhood                 2

[98 rows x 3 columns]

In [19]:
# read the nature csv files
nature_df = pd.read_csv("NEC_FinalResult.csv", sep=',', engine='python')
nature_df

,Unnamed: 0,neighborhood,Land Area (acres),Park Space (% of land area),Greenway (% of land area),Woodland (% of land area),SumGreenArea
0,65,Regent Square,122.9,0.516,0.000,0.333,0.849
1,35,Glen Hazel,291.8,0.000,0.159,0.646,0.805
2,37,Hays,"1,120.0",0.001,0.000,0.717,0.718
3,60,Perry North,775.7,0.333,0.000,0.376,0.709
4,24,Duquesne Heights,398.7,0.229,0.166,0.295,0.690
...,...,...,...,...,...,...,...
85,41,Homewood South,254.7,0.011,0.000,0.000,0.011
86,21,Chateau,245.1,0.006,0.000,0.000,0.006
87,43,Knoxville,193.3,0.000,0.000,0.005,0.005
88,10,Bluff,209.3,0.000,0.000,0.000,0.000
89,33,Friendship,67.8,0.000,0.000,0.000,0.000

In [20]:
# read the firearm csv files
firearm_df = pd.read_csv("TheFirearmS.csv", sep=',', engine='python')
firearm_df

        neighborhood  Firearm_Seizures
0     Homewood South               311
1   South Side Flats               176
2     Homewood North               152
3       East Liberty               142
4            Carrick               139
..               ...               ...
83           Oakwood                 4
84       Summer Hill                 3
85    Swisshelm Park                 3
86        Mt. Oliver                 3
87     Regent Square                 3

[88 rows x 2 columns]

### Merge these three csv to make a dataframe

In [21]:
# merge the arrest csv files and the firearm csv files to crime dataframe
crime_df = pd.merge(arrest_df, firearm_df, how='inner', on=['neighborhood', 'neighborhood'])
crime_df

    Unnamed: 0               neighborhood  incidents_counts  Firearm_Seizures
0            0  Central Business District              3324               112
1            1           South Side Flats              2856               176
2            2                    Carrick              1963               139
3            3             East Allegheny              1777                49
4            4             Homewood South              1747               311
..         ...                        ...               ...               ...
81          88                  St. Clair                42                 7
82          90             Chartiers City                35                 4
83          91             Swisshelm Park                33                 3
84          93              Regent Square                28                 3
85          94          Central Northside                23                79

[86 rows x 4 columns]

In [22]:
# merge the crime dataframe and the nature csv files
final_df = pd.merge(crime_df, nature_df, how='inner', on=['neighborhood', 'neighborhood'])
final_df

,Unnamed: 0_x,neighborhood,incidents_counts,Firearm_Seizures,Unnamed: 0_y,Land Area (acres),Park Space (% of land area),Greenway (% of land area),Woodland (% of land area),SumGreenArea
0,0,Central Business District,3324,112,16,409.6,0.071,0.0,0.000,0.071
1,1,South Side Flats,2856,176,71,599.0,0.035,0.0,0.002,0.037
2,2,Carrick,1963,139,15,"1,070.7",0.035,0.0,0.120,0.155
3,3,East Allegheny,1777,49,25,151.0,0.001,0.0,0.026,0.027
4,4,Homewood South,1747,311,41,254.7,0.011,0.0,0.000,0.011
...,...,...,...,...,...,...,...,...,...,...
81,88,St. Clair,42,7,77,198.4,0.000,0.0,0.493,0.493
82,90,Chartiers City,35,4,20,84.5,0.002,0.0,0.175,0.177
83,91,Swisshelm Park,33,3,81,307.2,0.119,0.0,0.312,0.431
84,93,Regent Square,28,3,65,122.9,0.516,0.0,0.333,0.849
85,94,Central Northside,23,79,18,165.8,0.005,0.0,0.022,0.027

### Calculate arrest incidents rate and firearm seizures rate in each unit area at neighborhood

In [23]:
# convert the arrest incidents counts(str), the firearm seizures counts(str) and land area(str) to float
final_df['incidents_counts'] = pd.to_numeric(final_df['incidents_counts'],errors='coerce')
final_df['Land Area (acres)'] = pd.to_numeric(final_df['Land Area (acres)'],errors='coerce')
final_df['Firearm_Seizures'] = pd.to_numeric(final_df['Firearm_Seizures'],errors='coerce')

# calculate the arrest incidents rate by dividing incidents counts by land area
final_df['incidents_rate'] = final_df['incidents_counts'].div(final_df['Land Area (acres)'])
# calculate the firearm seizures rate by dividing firearm seizures counts by land area
final_df['firearm_seizures_rate'] = final_df['Firearm_Seizures'].div(final_df['Land Area (acres)'])

final_df

,Unnamed: 0_x,neighborhood,incidents_counts,Firearm_Seizures,Unnamed: 0_y,Land Area (acres),Park Space (% of land area),Greenway (% of land area),Woodland (% of land area),SumGreenArea,incidents_rate,firearm_seizures_rate
0,0,Central Business District,3324,112,16,409.6,0.071,0.0,0.000,0.071,8.115234,0.273438
1,1,South Side Flats,2856,176,71,599.0,0.035,0.0,0.002,0.037,4.767947,0.293823
2,2,Carrick,1963,139,15,NaN,0.035,0.0,0.120,0.155,NaN,NaN
3,3,East Allegheny,1777,49,25,151.0,0.001,0.0,0.026,0.027,11.768212,0.324503
4,4,Homewood South,1747,311,41,254.7,0.011,0.0,0.000,0.011,6.859050,1.221044
...,...,...,...,...,...,...,...,...,...,...,...,...
81,88,St. Clair,42,7,77,198.4,0.000,0.0,0.493,0.493,0.211694,0.035282
82,90,Chartiers City,35,4,20,84.5,0.002,0.0,0.175,0.177,0.414201,0.047337
83,91,Swisshelm Park,33,3,81,307.2,0.119,0.0,0.312,0.431,0.107422,0.009766
84,93,Regent Square,28,3,65,122.9,0.516,0.0,0.333,0.849,0.227828,0.024410
85,94,Central Northside,23,79,18,165.8,0.005,0.0,0.022,0.027,0.138721,0.476478

In [24]:
# drop the NaN data and attract the three submetrics forming the final dataframe
final_df = final_df.dropna()
final_df = final_df[['neighborhood', 'incidents_rate','firearm_seizures_rate', 'SumGreenArea']].sort_values(by=['incidents_rate'], ascending=True)
final_df

,neighborhood,incidents_rate,firearm_seizures_rate,SumGreenArea
83,Swisshelm Park,0.107422,0.009766,0.431
85,Central Northside,0.138721,0.476478,0.027
76,Fairywood,0.161238,0.012899,0.259
81,St. Clair,0.211694,0.035282,0.493
80,Summer Hill,0.213523,0.010676,0.188
...,...,...,...,...
5,Homewood North,5.946724,0.547156,0.081
4,Homewood South,6.859050,1.221044,0.011
16,Allegheny Center,7.559524,0.111607,0.411
0,Central Business District,8.115234,0.273438,0.071
3,East Allegheny,11.768212,0.324503,0.027

This part we choose is Swisshelm Park, because of those three indexes:incidents rate, firearmseizures rate and total green area have different weights, and we want to make those weights the same so we can fairly choose the best neighborhood from those data. The first step we have to do is make all three indexes of Swisshelm Park to 1, which means we have to devide the same number of each column's number to that column. After the weight of three indexes are same, we can just easily calculate the best neighborhood by add the incidents rate and firearm seizures rate together and subtract by the total green area, because the first two indexes are the lower the better, and total green area is the higher the better, and we can sort the result and the smallest number represented the best neighborhood our group got as the result.

###

In [25]:
final_df.loc[:,'incidents_rate':] = final_df.loc[:,'incidents_rate':].div(final_df.iloc[0]['incidents_rate':])
final_df['sum'] = final_df['incidents_rate'] + final_df['firearm_seizures_rate'] - final_df['SumGreenArea']
final_df = final_df.sort_values(by=['sum'])
final_df

,neighborhood,incidents_rate,firearm_seizures_rate,SumGreenArea,sum
83,Swisshelm Park,1.0,1.0,1.0,1.0
76,Fairywood,1.500982,1.320864,0.600928,2.220918
80,Summer Hill,1.987706,1.093238,0.436195,2.64475
84,Regent Square,2.120867,2.499593,1.969838,2.650623
66,Lincoln Place,2.571899,1.30073,0.846868,3.025761
...,...,...,...,...,...
36,Bedford Dwellings,43.052515,65.228621,0.719258,107.561878
10,Knoxville,54.274938,56.682876,0.011601,110.946213
5,Homewood North,55.358597,56.028798,0.187935,111.199459
3,East Allegheny,109.551355,33.229139,0.062645,142.717849
4,Homewood South,63.851519,125.034943,0.025522,188.86094