## This file merged our three submetrics for the final metric.

In [18]:
import matplotlib.pyplot as plt
import pandas as pd

%matplotlib inline

In [19]:
# read the downloaded csv files
arrest_df = pd.read_csv("arrest_data.csv", sep=',', engine='python')
arrest_df

    Unnamed: 0          neighborhood_name  incidents_counts
0            0  Central Business District              3324
1            1           South Side Flats              2856
2            2                    Carrick              1963
3            3             East Allegheny              1777
4            4             Homewood South              1747
..         ...                        ...               ...
93          93              Regent Square                28
94          94          Central Northside                23
95          95            Mt. Oliver Boro                18
96          96     Troy Hill-Herrs Island                 6
97          97    Mt. Oliver Neighborhood                 2

[98 rows x 3 columns]

In [20]:
nature_df = pd.read_csv("NEC_FinalResult.csv", sep=',', engine='python')
nature_df

,Unnamed: 0,Neighborhood,Park Space (% of land area),Greenway (% of land area),Woodland (% of land area),SumGreenArea
0,0,Allegheny Center,0.411,0.000,0.000,0.411
1,1,Allegheny West,0.080,0.000,0.042,0.122
2,2,Allentown,0.209,0.000,0.123,0.332
3,3,Arlington,0.022,0.000,0.294,0.316
4,4,Arlington Heights,0.000,0.000,0.418,0.418
...,...,...,...,...,...,...
85,85,Upper Lawrenceville,0.013,0.002,0.064,0.079
86,86,West End,0.061,0.004,0.132,0.197
87,87,West Oakland,0.008,0.000,0.134,0.142
88,88,Westwood,0.033,0.000,0.232,0.265
89,89,Windgap,0.044,0.000,0.232,0.276

In [21]:
firearm_df = pd.read_csv("TheFirearmS.csv", sep=',', engine='python')
firearm_df

           neighborhood  Total
0      Allegheny Center     15
1        Allegheny West     17
2             Allentown     86
3             Arlington     39
4     Arlington Heights     10
..                  ...    ...
83  Upper Lawrenceville     14
84             West End      5
85         West Oakland     14
86             Westwood     10
87              Windgap     13

[88 rows x 2 columns]